@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
    font-family: 'Electrolize', cursive;
    color: black; 
    background: url("../assets/images/Night-Sky.png");
}

.counter p span {
    font-size: 20px;
}

.simoneBoard {
    width: 600px;
    height: 600px;
}

.pad {
    position: relative;
    float: left;
    width: 50%;
    height: 50vw;
    border: solid 5px #000;
    max-width: 290px;
    max-height: 290px;
    cursor: pointer;
}

.green {
    background-color:#0a0;
    -moz-border-radius: 300px 0 0 0;
    border-radius: 300px 0 0 0;    
}

.green-active {
  background-color: darkgreen !important;
}

.red {
  background-color: red;
  -moz-border-radius: 0 300px 0 0;
  border-radius: 0 300px 0 0;
}

.red-active {
  background-color: darkred !important;
}

.yellow {
  background-color: yellow;
  -moz-border-radius: 0 0 0 300px;
  border-radius: 0 0 0 300px;
}

.yellow-active {
  background-color: #e6d47e !important;
}

.blue {
  background-color: blue;
  -moz-border-radius: 0 0 300px 0;
  border-radius: 0 0 300px 0;
}

.blue-active {
  background-color: darkblue !important;
}

.title {
  font-size: 45px;
}







